{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
    <form class="login_register" method='POST' action=''>
        {% csrf_token %}

        <div>
            <label>Email: </label>
            <input type='text' name='email'>
        </div>

        <div>
            <label>Hasło: </label>
            <input type='password' name='password'>
        </div>

        <input type='submit' value='Zaloguj'>

        <div class="toggle">
            <p>Nie masz jeszcze konta?</p>
            <a href="{% url 'register' %}">Zarejestruj</a>
        </div>
    </form>
{% elif page == 'register' %}
    <form class="login_register" method='POST' action=''>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Zarejestruj'>

        <div class="toggle">
            <p>Masz już konto?</p>
            <a href="{% url 'login' %}">Zaloguj</a>
        </div>
    </form>
{% endif %}

{% endblock %}