{% extends 'main.html' %}

{% block content %}
    {% for show, reservations in showDict.items %}
    <div class="movie">
        <div class="movie_image">
            <a target=”_blank” href={{show.movie.filmweb}}>
                <img src={{show.movie.image}} />
            </a>
        </div>
        
        <div class="movie_desc">
            <h3 class="movie_title">{{show.movie.title}}</h3>
            <p class="">{{show.movie.description}}</p>
        </div>

        <div class="reservation_date">
            <p>{{show.date|date:"d.m.y"}} - {{show.time|date:"G:i"}}</p>
        </div>

        <div class="reservation_seats">
            {% for reservation in reservations %}
                <span>{{reservation.row}}-{{reservation.seat}}</span>
            {% endfor %}
        </div>
        
        {% if not show.is_past %}
            <div class="reservation_edit">
                <a href="{% url 'select' show.id %}">Edytuj</a>
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}