{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="show_details">
    <h2>{{show.movie}}</h2>
    <p>{{show.date|date:"d.m.y"}} - {{show.time|date:"G:i"}}</p>
</div>

<form action="{% url 'reserve' show.id %}" method='post'>
    {% csrf_token %}
    <div id='wrapper'></div>
    <input class="reserve_btn" type='submit' value='Zarezerwuj'>
</form>

{{ reserved|json_script:"reserved" }}
{{ old|json_script:"old" }}
<script src="{% static 'scripts/select.js' %}"></script> 
{% endblock %}