{% extends 'main.html' %}

{% block content %}

<section class="timeline">
    {% for date in timeline %}
        <a class="day" href="{% url 'shows' date.year date.month date.day %}">
            <span>{{date.day}}.{{date.month}}</span>
        </a>
    {% endfor %}
</section>

{% for movie in movies %}
    <div class="movie">
        <div class="movie_image">
            <a target=”_blank” href={{movie.filmweb}}>
                <img src={{movie.image}} />
            </a>
        </div>
        
        <div class="movie_desc">
            <h3 class="movie_title">{{movie.title}}</h3>
            <p class="">{{movie.description}}</p>
        </div>

        <div class="shows_hours">
            <h4>Zarezerwuj:</h4>
                <div class="hours">
                {% for show in movie.shows %}
                    <a href="{% url 'select' show.id %}">{{show.time|date:"G:i"}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}